# IntelliJ IDEA-specific files
.idea/
*.iml
*.iws
out/

# Logs
*.log
logs/

# Reports
test-output/
*.html
*.json

# OS-specific files
.DS_Store
Thumbs.db

# Environment-specific files
.env
*.properties.local

# Temporary files
*.tmp
*.swp
*.swo
*.bak

# Java-specific files
*.class

# ExtentReports history
extent-reports/

# Coverage
.coverage
coverage/